/* universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* borders and paddings are no longer added to the total width or height that is specified for a box */
}

html {
    // this defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;    
}